@keyframes shadow-light-white {
    0% {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
    }

    50% {
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
    }

    100% {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
    }
}

@keyframes btn-gate {
    0% {
        box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
        transform: scale(1.000);
    }

    50% {
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
        transform: scale(1.025);

    }

    75% {
        box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.3);
        transform: scale(1.000);

    }

    100% {
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.3);
        transform: scale(1.025);
    }

}